body {
  font-family: var(--font-monrope);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
}

h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 1.429px;
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 1.143px;
}

h4 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

h5 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.714px;
}

h6 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.286px;
}

.container {
  max-width: 111rem;
  width: 95%;
  margin: 0 auto;
}

.btn-pumpkin {
  background-color: var(--color-pumpkin);
  color: var(--color-white);
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btn-pumpkin:hover {
  background-color: var(--color-peach);
}

.btn-outline {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 0.1rem var(--color-black);
  color: var(--color-black);
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btn-outline:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-arrow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-black);
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.3rem;
  stroke: var(--color-black);
  transition: color 0.3s;
}

.btn-arrow::after {
  content: url("../../media/icons/arrow.svg");
  display: block;
  transform: translateY(7%);
}

.btn-arrow:hover {
  color: var(--color-pumpkin);
}
