/*
=======================================
IMPORTS GLOBALS
=======================================
*/

@import url("../common/fonts.css");
@import url("../common/variables.css");
@import url("../common/normalize.css");
@import url("../common/globals.css");

/*
=======================================
PAGE STYLES
=======================================
*/

/*
=======================================
NAVIGATION SECTION
=======================================
*/

.header {
  background-color: var(--color-jet);
}

.navigation {
  display: flex;
  color: var(--color-white);
  justify-content: space-between;
  padding: 3.5rem 0;
  font-size: 1.3rem;
}

.navigation__logo {
  width: 14rem;
  height: 2.5rem;
}

.navigation__items {
  display: flex;
  gap: 3.4rem;
  list-style: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.navigation__cart {
  width: 2.3rem;
  height: 2rem;
}

/*
=======================================
HEADPHONES SECTION
=======================================
*/
.headphones {
  height: 33.6rem;
  background-color: var(--color-jet);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-uno {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16rem;
  gap: 12.5rem;
}

/*
=======================================
HERO SECTION
=======================================
*/

.hero-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  font-size: 1.4rem;
  letter-spacing: 10px;
  color: var(--color-pumpkin);
}

.hero-subt {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.6rem;
}

.hero-paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 36px;
  max-width: 44.5rem;
}

.hero-btn {
  margin-top: 4rem;
}

.hero-img-box {
  background-color: var(--color-seashell);
  border-radius: 0.8rem;
  padding: 6.6rem 9.6rem 10.8rem 9.6rem;
}
