/*
=======================================
IMPORTS GLOBALS
=======================================
*/

@import url("../common/fonts.css");
@import url("../common/variables.css");
@import url("../common/normalize.css");
@import url("../common/globals.css");

/*
=======================================
PAGE STYLES
=======================================
*/

/*
=======================================
NAVIGATION SECTION
=======================================
*/

.header {
  background-color: var(--color-jet);
  color: var(--color-white);
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0;
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
}

.navigation--border {
  border-bottom: 0.2rem solid var(--color-gray-20);
}

.navigation__logo {
  width: 14rem;
  height: 2.5rem;
}

.navigation__items {
  display: flex;
  gap: 3.4rem;
  list-style: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.navigation__cart {
  width: 2.3rem;
  height: 2rem;
}

/*
=======================================
HERO SECTION
=======================================
*/

.hero {
  background-color: var(--color-jet);
  color: var(--color-white);
  height: 63rem;
}

.hero__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero__info {
  font-size: 1.4rem;
  letter-spacing: 10px;
  opacity: 0.4;
}

.hero__title {
  margin-top: 2.4rem;
  text-transform: uppercase;
}

.hero__paragraph {
  margin-top: 2.4rem;
  font-size: 1.5rem;
  max-width: 35rem;
}

.hero__btn {
  margin-top: 4rem;
}

.hero__img-box {
  position: relative;
}

.hero__img-box img {
  position: absolute;
  z-index: 1;
  transform: scale(1.2);
}

/*
=======================================
OTHER PRODUCTS SECTION
=======================================
*/

.other-products {
  margin-top: 12.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.other-product {
  background-color: var(--color-seashell);
}

.other-product__img-box {
  position: relative;
  height: 20rem;
}

.other-product__img-box img {
  position: absolute;
  width: 40%;
  height: auto;
  top: 50;
  left: 50%;
  transform: translate(-50%, -15%) scale(1.4);
}

.other-product__title {
  color: var(--color-black);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.286px;
}

.other-product__btn {
  margin: 0 auto;
  margin-top: 1.5rem;
}

/*
=======================================
FOOTER SECTION
=======================================
*/

.footer {
  margin-top: 20rem;
  background-color: var(--color-jet);
  color: var(--color-white);
  padding-top: 3rem;
  padding-bottom: 4.8rem;
}

.footer__information {
  display: flex;
}

.footer__information-content {
  max-width: 54rem;
  opacity: 0.5;
}

.footer__social {
  margin-top: 3.6rem;
  align-self: flex-end;
  margin-left: auto;
  display: flex;
  gap: 1.6rem;
}

.footer__social img {
  width: 2rem;
  cursor: pointer;
}

.footer__copyrigth {
  margin-top: 5.6rem;
  opacity: 0.5;
}
